<h1>Roster History API</h1>
<ul>
  <li>Returns the rosters for each requested season of a team.</li>
  <li>Data type of return is object. Values for team, start, and end are string and roster is list of string</li>
  <li>
    Example GET: <br> 
    rosterhistory.loafing.dev/api/roster-history?league=NBA&city=Cleveland&team=Cavaliers&start=2017&end=2020
  </li>
  <li>
    Example return: <br>
    { <br>
    &nbsp; &nbsp; city: “Cleveland", <br>
    &nbsp; &nbsp; team: "Cavaliers”, <br>
    &nbsp; &nbsp; start: “2017”, <br>
    &nbsp; &nbsp; end: “2020”, <br>
    &nbsp; &nbsp; ”2017”: ["Player B", "Player C", "Player D", "Player E", "Player Z"], <br>
    &nbsp; &nbsp; ”2018”: ["Player A", "Player B", "Player C", "Player D", "Player E"], <br>
    &nbsp; &nbsp; ”2019”: ["Player A", "Player B", "Player D", "Player E", "Player F"], <br>
    &nbsp; &nbsp; ”2020”: ["Player A", "Player D", "Player G", "Player H", "Player I"] <br>
    }
  </li>
</ul>

<h1>Usage Statistics</h1>
<span class="bold">Current Stats: </span> <br>
<span class="bold">NBA:</span> <span id="nba"></span> <br>
<span class="bold">WNBA:</span> <span id="wnba"></span>
<ul>
  <li>Returns the number of queries made for both leagues.</li>
  <li>Data type of return is object. Values of queries and percent are numbers.</li>
  <li>
    Example GET: <br>
    rosterhistory.loafing.dev/api/usage-stats
  </li>
  <li>
    Example return: <br>
    { <br>
    &nbsp; &nbsp; NBA: { <br>
    &nbsp; &nbsp; &nbsp; &nbsp; queries: 5, <br>
    &nbsp; &nbsp; &nbsp; &nbsp; percent: 56 <br>
    &nbsp; &nbsp; }, <br>
    &nbsp; &nbsp; WNBA: { <br>
    &nbsp; &nbsp; &nbsp; &nbsp; queries: 4, <br>
    &nbsp; &nbsp; &nbsp; &nbsp; percent: 44 <br>
    &nbsp; &nbsp; } <br>
    }
  </li>
</ul>